.calendar {
    width: 100%;
    border-collapse: collapse;
  }
  
  .calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    cursor: pointer;
  }
  
  .calendar th {
    background-color: #f2f2f2;
  }
  
  .calendar td.empty {
    background-color: #f9f9f9;
    cursor: default;
  }
  
  .calendar td.current-day {
    background-color: #ffeb3b; /* Color de fondo para el día actual */
  }
  